@model AgendaMedica.Models.Agenda

@{
	ViewData["Title"] = "Editar Agenda";
}

<div class="container text-light mt-5">
	<h1 class="text-center display-5">Editar <span class="fw-bold">Agenda</span></h1>

	<div class="row justify-content-center">
		<div class="col-md-6">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
				<input type="hidden" asp-for="AgendaId" />

				<div class="mb-3">
					<label asp-for="PacienteId" class="form-label"></label>
					<select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId"></select>
					<span asp-validation-for="PacienteId" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="MedicoId" class="form-label"></label>
					<select asp-for="MedicoId" class="form-control" asp-items="ViewBag.MedicoId"></select>
					<span asp-validation-for="MedicoId" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="DataConsulta" class="form-label"></label>
					<input asp-for="DataConsulta" type="datetime-local" class="form-control" />
					<span asp-validation-for="DataConsulta" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="Status" class="form-label"></label>
					<input asp-for="Status" class="form-control" />
					<span asp-validation-for="Status" class="text-danger"></span>
				</div>

				<div class="d-flex justify-content-between mt-4">
					<a asp-action="Index" class="btn btn-secondary">Cancelar</a>
					<input type="submit" value="Salvar" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
