@model AgendaMedica.Models.Especialidade

@{
	ViewData["Title"] = "Excluir Especialidade";
}

<div class="container text-light mt-5">
	<h1 class="text-center display-5">Excluir <span class="fw-bold">Especialidade</span></h1>

	<h4 class="text-center">Tem certeza que deseja excluir esta especialidade?</h4>
	<hr />

	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nome)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nome)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<div class="d-flex gap-2">
			<input type="submit" value="Excluir" class="btn btn-danger" />
			<a asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
		</div>
	</form>
</div>
